<h3>Edit Activity</h3>

<form action='/ideas/<%= "#{@idea.id}" %>' method="post">
	<label for="idea[date]">Date:</label><input name="idea[date]" value='<%= "#{@idea.date}" %>'>

	<label for="idea[activity]">Activity:</label><input name="idea[activity]" value='<%= "#{@idea.activity}" %>'>

	<label for="idea[place]">Place:</label><input name="idea[place]" value='<%= "#{@idea.place}" %>'>

	<label for="idea[cost]">Cost:</label><input name="idea[cost]" value='<%= "#{@idea.cost}" %>'>

	<input type="submit" value="Create">
</form>
